.card {
  background: var(--off-white);
  border: none;
  border-radius: 2.5rem;
  text-align: left;

  position: relative;

  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.card:hover {
  cursor: pointer;
  outline: 8px solid var(--orange);
}

.card img {
  object-fit: contain;
  height: 70%;
  width: 70%;
}
