.header {
  color: var(--orange);
  font-size: 2rem;
  margin-bottom: 10px;
  width: 100%;
}

.title {
  float: left;
  font-family: 'Luckiest Guy', Arial, sans-serif;
  font-size: 3rem;
}

.scores {
  float: right;
  font-size: 1.5rem;
}

.space {
  margin-right: 2rem;
}
