.header {
  width: 100%;
  font-size: 2rem;
  color: #ffb06f;
  margin-bottom: 10px;
}

.title {
  font-family: 'Luckiest Guy', Arial, sans-serif;
  font-size: 3rem;
  float: left;
}

.scores {
  font-size: 1.5rem;
  float: right;
}

.space {
  margin-right: 2rem;
}
