.footer,
    .footer a {
        color: #ffffff;
        font-size: 0.75rem;
        text-align: center;
        text-decoration: none;
}

.footer {
    width: 100%;
}

.footer a:hover {
    color: #ffb06f;
}